$row-width: 780px;
$columns-number: 5;

.checkout-container {
  .empty-checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .empty-message {
      text-align: center;
      width: fit-content;
      margin-top: 48px;
      margin-bottom: 32px;
      padding: 5px 42px;
      font-size: 24px;
      font-weight: 500;
    }

    button {
      width: fit-content;
    }
  }
}

.checkout-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 82px;

  .checkout-header {
    font-size: 18px;
    display: flex;
    min-width: $row-width;
    justify-content: space-between;
    padding-bottom: 24px;
    margin-bottom: 28px;
    border-bottom: 1px solid black;

    .column-name {
      text-align: center;
      width: $row-width / $columns-number;
    }
  }

  .checkout-total {
    width: 1.08 * $row-width;
    border-top: 1px solid black;
    padding-top: 24px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 300;

    .text {
      margin-right: 8px;
    }
  }
}
