$row-width: 780px;
$columns-number: 5;

.checkout-item-container {
  display: flex;
  justify-content: center;
  min-width: $row-width;
  align-items: center;
  margin: 8px 0;

  .row-cell {
    width: $row-width / $columns-number;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;

    .img {
      width: 112px;
    }

    .control {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: black;
      cursor: pointer;
    }

    .disabled {
      color: rgba(0, 0, 0, 0.335);
    }

    .quantity {
      margin: 0 10px;
    }

    .trash-icon {
      color: rgb(255, 115, 115);
      font-size: 18px;
      cursor: pointer;

      &:hover {
        color: rgb(255, 72, 72);
      }
    }
  }
}
